<!DOCTYPE html>
<html>
  <head>
    <title>Query</title>
  </head>
  <body>
    <h1>Nobel Prize Laureates</h1>
    <h3>Category Search</h3>
    Enter a category of noble prize and we will display 50 winners
    <form action="/results">
        <input type="text" name="category">
        <br>
        <input type="submit" name="submit">
    </form>
    <h3>Year Search</h3>
    Enter a year and we will display the Noble Prize winners for that year
    <form action="/results">
        <input type="text" name="year">
        <br>
        <input type="submit" name="submit">
    </form>
  </body>
<html>